# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.firebase/hosting.ZGlzdC9wdXp6bGUtc3VyZmVy.cache
*.cache
play_store/basic-block-puzzle.apk
play_store/basic-block-puzzle.keystore
play_store/basic-block-puzzle.zip
play_store/keystore.properties
play_store/screenshot/basic-block-puzzle.web.app_(Pixel 2).png
play_store/screenshot/image.png
play_store/screenshot/localhost_4200_game (1).png
play_store/screenshot/localhost_4200_game.png
play_store/screenshot/localhost_4200_game(iPad) (1).png
play_store/screenshot/localhost_4200_game(iPad) (2).png
play_store/screenshot/localhost_4200_game(iPad).png
play_store/screenshot/localhost_4200_game(Pixel 2 XL) (1).png
play_store/screenshot/localhost_4200_game(Pixel 2 XL) (2).png
play_store/screenshot/localhost_4200_game(Pixel 2 XL).png
play_store/screenshot/localhost_4200_game(Pixel 2) (1).png
play_store/screenshot/localhost_4200_game(Pixel 2) (2).png
play_store/screenshot/localhost_4200_game(Pixel 2) (3).png
play_store/screenshot/localhost_4200_game(Pixel 2) (4).png
play_store/screenshot/localhost_4200_game(Pixel 2).png
play_store/screenshot/localhost_4200_scores (1).png
play_store/screenshot/localhost_4200_scores (2).png
play_store/screenshot/localhost_4200_scores (3).png
play_store/screenshot/localhost_4200_scores (4).png
play_store/screenshot/localhost_4200_scores (5).png
play_store/screenshot/localhost_4200_scores (6).png
play_store/screenshot/localhost_4200_scores.png
play_store/screenshot/localhost_4200_scores(iPad Pro) (1).png
play_store/screenshot/localhost_4200_scores(iPad Pro) (2).png
play_store/screenshot/localhost_4200_scores(iPad Pro) (3).png
play_store/screenshot/localhost_4200_scores(iPad Pro) (4).png
play_store/screenshot/localhost_4200_scores(iPad Pro).png
play_store/screenshot/localhost_4200_scores(Pixel 2) (1).png
play_store/screenshot/localhost_4200_scores(Pixel 2).png
play_store/screenshot/localhost_4200_settings(Pixel 2 XL) (1).png
play_store/screenshot/localhost_4200_settings(Pixel 2 XL) (2).png
play_store/screenshot/localhost_4200_settings(Pixel 2 XL).png
play_store/screenshot/resized.png
