@import "../../variables";

mat-grid-list {
  margin: 10px auto;
  width: calc(100% - 20px);
  max-width: $max-width;
  background-color: transparent !important;

  mat-grid-tile {
    border-radius: 5px;
    background-color: $dark;
    transform: $tile-transform__tiny;
    transition: $tile-transition;
  }
}
