@import "../../variables";

mat-grid-list {
  margin: 10px 10px 30px;
  max-width: $max-width;
  background-color: transparent !important;

  mat-grid-tile {
    border-radius: $border-radius;
    background-color: var(--background-secondary);
    transform: $tile-transform__tiny;
    transition: $tile-transition;
    box-shadow: var(--shadow);
  }
}
