.score {
  background-color: #11100f;
  color: #faf9f8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px;
  border-bottom: 3px solid #201f1e;

  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 2vh;

    &_bold {
      font-weight: 900;
    }
  }
}