@import "../../variables";

.score {
  background-color: $dark;
  color: $white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 9px;

  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 2vh;

    &_bold {
      font-weight: 900;
    }
  }
}
