@import "../../variables";

:host {
  background-color: var(--background-secondary);
  color: var(--font);
  display: block;

  .score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;

    &__text {
      margin: 0;
      font-weight: 200;
      font-size: 1.15rem;
      padding: .6em 0;

      &_bold {
        font-weight: 900;
      }
    }
  }
}
