<div id="page">
  <div id="header">
    <div id="header__center">
      <h1 i18n id="header__center__title">score board</h1>
      <button mat-icon-button class="close__button"
      routerLink="../game"><i class="material-icons-round">clear</i></button>
    </div>
  </div>

  <div class="scoreboard">
    <div class="scoreboard__grid">
      <div><strong i18n>grid size</strong></div>
      <div *ngFor="let score of bestScoreEasy; let i = index">
        <div class="scoreboard__grid__size" *ngIf="i >= 0 && i <= max-min">
          {{i + min}}
        </div>
      </div>

      
      <div><strong i18n>easy</strong></div>
      <div *ngFor="let score of bestScoreEasy; let i = index">
        <div class="scoreboard__grid__score-easy" *ngIf="i >= 0 && i <= max-min">
          {{score}}
        </div>
      </div>
      
      <div><strong i18n>hard</strong></div>
      <div *ngFor="let score of bestScoreHard; let i = index">
        <div class="scoreboard__grid__score-hard" *ngIf="i >= 0 && i <= max-min">
          {{score}}
        </div>
      </div>
    </div>
  </div>
</div>