@import "../../variables";

.game_screen {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__below {
    margin: auto 0;

    mat-grid-list {
      background-color: transparent !important;

      mat-grid-tile {
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: -1px;
          bottom: 30%;
          top: 30%;
          width: 2px;
          background-color: $lighter-dark;
        }

        &:last-child::before {
          display: none;
        }
      }
    }
  }
}
