<!-- <div cdkDrag cdkDragBoundary=".game_screen__below" (cdkDragEnded)="onDragEnded($event)" [ngStyle]="setMyStyles()" (cdkDragEnded)="sendIndex()" (cdkDragStarted)="onDragStarted($event)">
  <mat-grid-list cols="3" >
    <mat-grid-tile [colspan]=1 [rowspan]=1 [ngStyle]="setMyStylesTileT()">
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 [ngStyle]="setMyStylesTile()">
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 [ngStyle]="setMyStylesTileT()">
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 [ngStyle]="setMyStylesTile()">
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 [ngStyle]="setMyStylesTile()">
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 [ngStyle]="setMyStylesTile()">
    </mat-grid-tile>
  </mat-grid-list>

</div> -->


<div cdkDrag cdkDragBoundary=".game_screen__below" (cdkDragEnded)="onDragEnded($event)" class="bloc-container" [ngStyle]="setMyStyles()">
  <div class="bloc-container__bloc" [ngStyle]="setMyStylesTile1()"></div>
  <div class="bloc-container__bloc" [ngStyle]="setMyStylesTile2()"></div>
  <div class="bloc-container__bloc" [ngStyle]="setMyStylesTile3()"></div>
  <div class="bloc-container__bloc" [ngStyle]="setMyStylesTile4()"></div>
</div>