/*
* * VARIABLES
*/
$font-family: Roboto, "Helvetica Neue", sans-serif;
$max-width: 650px;
$border-radius: 0.3em;

$tile-transform: scale(0.9);
$tile-transform__tiny: scale(0.5);
$tile-transition: transform 100ms ease-in-out;

@mixin responsiveContainer {
  margin: 0 auto;
  max-width: $max-width;
}

/*
* * THEMES
*/

.light {
  --font: #1b1a19;
  --font-secondary: #605e5c;
  --background: #fff;
  --background-secondary: #edebe9;
  --shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

  .settings__bubble#light {
    border-color: var(--bubble-color) !important;
  }
}

.chrome {
  --font: #1b1a19;
  --font-secondary: #605e5c;
  --background: #C0C0C0;
  --background-secondary: #A9A9A9;
  --shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

  .settings__bubble#chrome {
    border-color: var(--bubble-color) !important;
  }
}

.dark {
  --font: #faf9f8;
  --font-secondary: #e1dfdd;
  --background: #11100f;
  --background-secondary: #282828;
  --shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.232),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.208);

  .settings__bubble#dark {
    border-color: var(--bubble-color) !important;
  }
}

.amoled {
  --font: #faf9f8;
  --font-secondary: #e1dfdd;
  --background: #000;
  --background-secondary: #202020;
  --shadow: 0;

  .settings__bubble#amoled {
    border-color: var(--bubble-color) !important;
  }
}

body.accessibility .settings__tile#true {
  border-color: var(--bubble-color) !important;
}

body:not(.accessibility) .settings__tile#false {
  border-color: var(--bubble-color) !important;
}

/*
* * COLORS
*/
/* For Material Theming */
@import '~@angular/material/theming';
@include mat-core();

.light-blue, .multicolor {
  $light-blue-primary: mat-palette($mat-light-blue, 300);
  $light-blue-accent: mat-palette($mat-light-blue, 300);
  
  --bubble-color: #4fc3f7;
  
  $light-blue: mat-light-theme($light-blue-primary, $light-blue-accent);
  @include angular-material-theme($light-blue);

  .settings__bubble#light-blue, .settings__bubble#multicolor {
    border-color: var(--bubble-color) !important;
  }
}

.red {
  $red-primary: mat-palette($mat-red, 300);
  $red-accent: mat-palette($mat-red, 300);
  
  --bubble-color: #e57373;
  
  $red: mat-light-theme($red-primary, $red-accent);
  @include angular-material-theme($red);

  .settings__bubble#red {
    border-color: var(--bubble-color) !important;
  }
}

.orange {
  $orange-primary: mat-palette($mat-deep-orange, 300);
  $orange-accent: mat-palette($mat-deep-orange, 300);
  
  --bubble-color: #ff8a65;
  
  $orange: mat-light-theme($orange-primary, $orange-accent);
  @include angular-material-theme($orange);

  .settings__bubble#orange {
    border-color: var(--bubble-color) !important;
  }
}

.green {
  $green-primary: mat-palette($mat-green, 300);
  $green-accent: mat-palette($mat-green, 300);
  
  --bubble-color: #81c784;
  
  $green: mat-light-theme($green-primary, $green-accent);
  @include angular-material-theme($green);

  .settings__bubble#green {
    border-color: var(--bubble-color) !important;
  }
}

.indigo {
  $indigo-primary: mat-palette($mat-indigo, 300);
  $indigo-accent: mat-palette($mat-indigo, 300);

  --bubble-color: #7986cb;

  $indigo: mat-light-theme($indigo-primary, $indigo-accent);
  @include angular-material-theme($indigo);

  .settings__bubble#indigo {
    border-color: var(--bubble-color) !important;
  }
}

.purple {
  $purple-primary: mat-palette($mat-purple, 300);
  $purple-accent: mat-palette($mat-purple, 300);

  --bubble-color: #ba68c8;

  $purple: mat-light-theme($purple-primary, $purple-accent);
  @include angular-material-theme($purple);

  .settings__bubble#purple {
    border-color: var(--bubble-color) !important;
  }
}

/*
* * KEYFRAMES
*/

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
