$dark: #1b1a19;
$lighter-dark: #292827;
$grey: #484644;
$white: #d2d0ce;

$max-width: 600px;
$border-radius: 0.3em;

$tile-transform: scale(0.9);
$tile-transform__tiny: scale(0.5);
$tile-transition: transform 100ms ease-in-out, background-color 75ms ease-in-out;

@keyframes rainbow {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes rainbowLessSaturate {
  from {
    filter: hue-rotate(0deg) saturate(40%) brightness(8%);
  }

  to {
    filter: hue-rotate(360deg) saturate(40%) brightness(8%);
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
