/* You can add global styles to this file, and also import other style files */
@import "variables";

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $grey;
}

mat-grid-tile {
  overflow: initial !important;
}

.bloc-container {
  position: relative;
  transform-origin: center;

  &__sub {
    transition: transform 150ms ease-in-out;
  }

  &__bloc {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transform: scale(0.87);
  }
}
