/* You can add global styles to this file, and also import other style files */
@import "variables";

html {
  font-size: 3.9vw !important;
}

body {
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  background-color: var(--background);

  &.accessibility .bloc-container__bloc::before,
  &.accessibility app-grid .mat-grid-tile::before {
    content: "";
    display: block;
    height: 33%;
    width: 33%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--font);
    border-radius: 50%;
    mix-blend-mode: soft-light;
  }

  .mat-slider-thumb,
  .mat-slider-track-fill {
    background-color: var(--bubble-color) !important;
  }

  .mat-slider-track-background,
  .mat-slider-track-background:hover {
    background-color: var(--font) !important;
  }

  mat-grid-tile {
    overflow: initial !important;
  }

  .bloc-container {
    position: relative;
    transform-origin: center;

    &__sub {
      transition: transform 150ms ease-in-out;
    }

    &__bloc {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $border-radius;
      transform: $tile-transform;
      box-shadow: var(--shadow);
    }
  }
}

* {
  transition: color 150ms ease-in-out, background-color 200ms ease-in-out;
}

html,
body {
  height: 100vh;
}

#header {
  background-color: var(--background-secondary);
  
  &__center {
    @include responsiveContainer;
    display: flex;

    &__title {
      padding: 0.6em 0.8em;
      text-transform: uppercase;
      color: var(--font);
      letter-spacing: 0.05em;
      font-size: 1.2rem;
      font-weight: 900;
      margin: 0;
    }

    .close__button {
      color: var(--font);
      position: relative;
      margin: auto 1rem auto auto;
      cursor: pointer;
      transition: color 200ms ease-in-out;

      &:hover,
      &:focus {
        color: var(--bubble-color);
      }
    }
  }
}

@media (min-width: 550px) {
  html {
    font-size: 2.5vw !important;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 1.15vw !important;
  }
}
