/* You can add global styles to this file, and also import other style files */
@import "variables";

html {
  font-size: 3.9vw !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

html,
body {
  height: 100%;
}

mat-grid-tile {
  overflow: initial !important;
}

.bloc-container {
  position: relative;
  transform-origin: center;

  &__sub {
    transition: transform 150ms ease-in-out;
  }

  &__bloc {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    transform: $tile-transform;
    box-shadow: var(--shadow);
  }
}

@media (min-width: 550px) {
  html {
    font-size: 2.5vw !important;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 1.15vw !important;
  }
}
