@import "../../variables.scss";

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  #app_name {
    font-weight: bold;
    margin-top: $margin-top;
  }

  #start_button {
    margin-bottom: $margin-bottom;
    width: fit-content;

    i {
      font-size: 40px;
      color: $white;
    }
  }
}
