@import "../../variables";

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  .windows {
    z-index: 1;
    margin: auto;

    min-height: 200px;
    width: 85%;
    max-width: 380px;
    background-color: var(--background);
    border-radius: $border-radius * 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      text-align: center;
      margin: auto;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.35rem;
      letter-spacing: 0.05em;
      color: var(--font);
    }

    &__inside {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1em;
      margin: 0 1em 1em;

      button {
        border-radius: 7px;
        padding: 4px;
        background-color: var(--background-secondary);
        width: 100%;
        color: var(--font-secondary);
      }

      button:nth-child(1) {
        grid-row: 1;
        grid-column: 1;
      }

      button:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
      }

      button:nth-child(3) {
        grid-row: 2;
        grid-column: 1 / span 2;
        @include rainbowBackground();
      }
    }
  }

  .background {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
