@import "../../variables";

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  #header {
    background-color: var(--background-secondary);
    width: 100%;

    h1 {
      padding: 0.5em;
      text-transform: uppercase;
      color: var(--font);
      letter-spacing: 0.05em;
      font-size: 1.7rem;
      font-weight: 500;
      max-width: $max-width;
      margin: 0 auto;
      width: 100%;
    }
  }

  #page {
    background-color: var(--background);
    height: 100%;
    width: 100%;
    position: fixed;

    #settings {
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin: 0;
        text-transform: capitalize;
        color: var(--font);
        letter-spacing: 0.02em;
        font-size: 1.5rem;
        font-weight: 400;
      }

      &__dimensions {
        margin: 1.3em 1em 1.5em;
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 25px;
        }

        mat-slider {
          align-items: center;
          width: 70%;
          margin: auto;
        }
      }

      &__style,
      &__color {
        margin: 0 1em;

        &__container {
          margin: 2.5em 4.5em;
          justify-content: space-between;
          flex-direction: row;
          display: flex;
        }

        .theme {
          border-radius: 50%;
          height: 2.1em;
          width: 2.1em;
          display: flex;

          &__inside {
            position: relative;
            margin: auto;
            height: 90%;
            width: 90%;
            border-radius: 50%;
          }
        }

        #sombre {
          background-color: grey;
        }

        #clair {
          background-color: white;
        }

        #amoled {
          background-color: black;
        }

        #sepia {
          background-color: burlywood;
        }

        #amoled {
          background-color: darken($color: #000000, $amount: 0);
        }
      }
    }
  }
}
