<div id="page">
  <div id="header">
    <h1 i18n id="header__title">settings</h1>
    <button mat-icon-button class="close__button"
    routerLink="../game"><i class="material-icons-round">clear</i></button>
  </div>

  <div class="settings">
    <div class="settings__container">
      <h2 i18n class="settings__title">grid dimensions</h2>

      <mat-slider
        [min]="min"
        [max]="max"
        [value]="valueDimensions"
        [color]="color"
        [thumbLabel]="true"
        (change)="selectGridDimension($event)"
      ></mat-slider>
    </div>

    <div class="settings__container">
      <h2 i18n class="settings__title">theme</h2>

      <div class="settings__bubble-container">
        <div
          (click)="selectTheme($event)"
          class="settings__bubble"
          id="light"
        ></div>
        <div
          (click)="selectTheme($event)"
          class="settings__bubble"
          id="chrome"
        ></div>
        <div
          (click)="selectTheme($event)"
          class="settings__bubble"
          id="dark"
        ></div>
        <div
          (click)="selectTheme($event)"
          class="settings__bubble"
          id="amoled"
        ></div>
      </div>
    </div>

    <div class="settings__container">
      <h2 i18n class="settings__title">accessibility</h2>

      <div class="settings__tile-container">
        <div
          (click)="selectAccessibility($event)"
          class="settings__tile"
          id="false"
        ></div>
        <div
          (click)="selectAccessibility($event)"
          class="settings__tile"
          id="true"
        ></div>
      </div>
    </div>

    <div class="settings__container">
      <h2 i18n class="settings__title">hard mode</h2>
        <div class="settings__tile-container">
          <mat-slide-toggle
          [color]="color"
          [checked]="isHard"
          (change)="switchDifficulty()"
          ></mat-slide-toggle>
        </div>
    </div>
  </div>
</div>