@import "../../variables";

#page {
  #header {
    background-color: var(--background-secondary);
    
    &__center {
      @include responsiveContainer;
      display: flex;
      flex-direction: row;
      flex-flow: wrap;

      &__title {
        padding: 0.6em 0.8em;
        text-transform: uppercase;
        color: var(--font);
        letter-spacing: 0.05em;
        font-size: 1.2rem;
        font-weight: 900;
        margin: 0;
      }

      .close__button {
        position: relative;
        margin: auto 1rem auto auto;
      }
    }
  }
  
  .settings {
    @include responsiveContainer;
    background-color: var(--background);
    padding: 0 1em;

    &__container {
      .settings__title {
        text-transform: capitalize;
        color: var(--font);
        letter-spacing: 0.03em;
        font-size: 1.05rem;
        font-weight: 500;
        margin: 0;
        padding-top: 0.9em;
      }

      .mat-slider {
        align-items: center;
        color: var(--bubble-color) !important;
        width: 100%;
        margin: auto;
        padding: 0;
      }

      .settings__bubble-container,
      .settings__tile-container {
        display: flex;
        padding: 1em;

        .settings__bubble + .settings__bubble {
          margin-right: 0.3em;
          margin-bottom: 0.3em;
        }

        .settings__bubble,
        .settings__tile {
          height: 50px;
          width: 50px;
          border: 2px grey solid;
          cursor: pointer;
        }

        .settings__bubble {
          border-radius: 50%;
          height: 3em;
          width: 3em;

          &#light {
            background-color: #faf9f8;
          }
          &#chrome {
            background-color: #C0C0C0;
          }
          &#dark {
            background-color: #11100f;
          }
          &#amoled {
            background-color: #000000;
          }
          &#multicolor {
            background: linear-gradient(110deg, #4fc3f7 16%, #e57373 33%, #ff8a65 44%, #81c784 66%, #7986cb 83%, #ba68c8 100%)
          }
          &#light-blue {
            background-color: #4fc3f7;
          }
          &#red {
            background-color: #e57373;
          }
          &#orange {
            background-color: #ff8a65;
          }
          &#green {
            background-color: #81c784;
          }
          &#indigo {
            background-color: #7986cb;
          }
          &#purple {
            background-color: #ba68c8;
          }
        }
        
        .settings__tile {
          border-radius: $border-radius;
          margin-right: 0.3em;
          height: 3em;
          width: 3em;

          &#false,
          &#true {
            background-color: var(--background-secondary);
            position: relative;
          }

          &#true::before {
            content: "";
            display: block;
            height: 33%;
            width: 33%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--font);
            border-radius: 50%;
            mix-blend-mode: soft-light;
          }
        }
      }
    }
  }
}
