<div id="page">
  <div id="header">
    <h1>settings</h1>
  </div>
  <button routerLink="/game">Retour</button>

  <div id="settings">
    <div id="settings__dimensions">
      <p>grid dimensions</p>

      <mat-slider
        [min]="min"
        [max]="max"
        [value]="value"
        [color]="color"
        [thumbLabel]="true"
        (change)="changeGridDimension($event)"
      ></mat-slider>
    </div>

    <div id="settings__style">
      <p>style</p>
      <div id="settings__style__container">
        <div
          (click)="changeTheme('style', 'sombre')"
          class="theme"
          [ngStyle]="setFocus('style', 'sombre')"
        >
          <div class="theme__inside" id="sombre"></div>
        </div>
        <div
          (click)="changeTheme('style', 'amoled')"
          class="theme"
          [ngStyle]="setFocus('style', 'amoled')"
        >
          <div class="theme__inside" id="amoled"></div>
        </div>
        <div
          (click)="changeTheme('style', 'clair')"
          class="theme"
          [ngStyle]="setFocus('sty le', 'clair')"
        >
          <div class="theme__inside" id="clair"></div>
        </div>
        <div
          (click)="changeTheme('style', 'sepia')"
          class="theme"
          [ngStyle]="setFocus('style', 'sepia')"
        >
          <div class="theme__inside" id="sepia"></div>
        </div>
      </div>
    </div>

    <div id="settings__color">
      <p>color</p>
      <div id="settings__color__container">
        <div class="theme"><div class="theme__inside" id="sombre"></div></div>
        <div class="theme"><div class="theme__inside" id="amoled"></div></div>
        <div class="theme"><div class="theme__inside" id="clair"></div></div>
      </div>
    </div>
  </div>
</div>
